
  <div class="full-page">
  <h1><strong>FauxPaws</strong></h1>

  <div class="button-container">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-custom" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-custom" %>
  </div>

<div class="button_2-container">
  <%= link_to "Explore ->", pets_path, class: "btn btn-primary_2" %>
</div>
</div>
