// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.logo {

    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 30%;
    margin-left: 2%;
    text-decoration: none;
  }

  .blobby-icon {

    a {
    margin-left: 80%;
  }
  }

$mynewcolor: #F4CED7;

.btn-primary {
   @include button-variant($mynewcolor, darken($mynewcolor, 20%), darken($mynewcolor, 20%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,50%));
}
