// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pets/show";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  padding-top: 0;
  background-color: #e8e0ed;
}

.logo {

    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 30%;
    margin-left: 2%;
    text-decoration: none;

    a:hover {
      text-decoration: none;
      color: white;

    }
  }

  .blobby-icon {

    a {
    margin-left: 80%;

    img {
      width: 8%;
      transition: .5s ease-in-out;
    }
  }
  }

  .blobby-icon:hover {
    a {
      img {
      width: 8.5%;
    }
   }
  }

$mynewcolor: #F4CED7;

.btn-primary {
   @include button-variant($mynewcolor, darken($mynewcolor, 20%), darken($mynewcolor, 20%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,50%));
}

footer {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0;
  background-color: #68b3d9;
  color: white;
  width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 130px;
 margin-top: 100px;
 left: 50%;
 padding-top: 20px;
}

.pet_card{
    a{
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  }
}

table {
  width: 100%;
  margin: 0;
}

th {
  height: 40px;
  text-align: left;
  padding: 5px;
  background-color: $mynewcolor;
}

tr {
  height: 30px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f7e3e7;
}

td {
  padding: 10px;
  font-size: 14px;

}

.pet_button {
  a {
    color: #c88894;
    text-decoration: none;
  }
}

.pet_button:hover {
  a {
    color: white;
  }
}
