<footer class="text-center text-white">

  <div class="container p-4 pb-0">

      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-facebook-f"></i>
        </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-twitter"></i>
        </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-google"></i>
        </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-linkedin-in"></i>
        </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i>
        </a>

  </div>

  <div class="text-center p-3" style="background-color: rgba (104, 179, 217, 1);">
    © by FauxPaws 2023
  </div>
</footer>
