<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid justify-content-between">
  <div class=" d-flex justify-content-center align-middle logo">
  <%= link_to "FauxPaws", root_path, class: "logo" %>

  </div>
    <form class="d-flex mx-auto">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <div class="blobby-icon">

    <%= link_to("Login", new_user_session_path) if @current_user.nil? %>
    <%= link_to user_path(current_user) do %>
      <img class="rounded-circle mx-3" src="https://res.cloudinary.com/dobohmdlf/image/upload/v1677670706/Blobby-04_cyelkq.png" style="width: 5%">
    <% end %>




    </div>
  </div>
</nav>
<%# pundit %>
